

.lead-page-section{
    
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    .lead-section-title{
        margin: 0;
        padding: 0;
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        color: #FFFFFF;
        top: 0;
        left: 0;
        font-size: 60px;
        font-weight: 300;
        letter-spacing: 20px;
        line-height: 84px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}
